.new-year{
    /* background-image: url('/new-year-offer-resources/images/'); */
    width: 1320px;
    height: 1100px;
    
    margin: 0 auto;
    margin-top: 80px;
}
.percent{
    width: 383px;
    height: 107px;
    color: #FF0000;
    font-weight: bold;
    font-size: 88px;
     display: inline; 
    /* display: flex; */
    /* justify-content: center; */
    text-align: center;
    margin-bottom: 90px;
    padding-bottom: 100px;
}
.holiday{
    width: 300px;
    height: 50px; 
    font-weight: bold;
    font-size: 24px;
    display: inline; 
    /* display: flex; */
    /* justify-content: center; */
    text-align: center;
    /* margin-bottom: 90px; */
    padding-bottom: 100px;
    margin: 0 auto;
}
.photo{
    display: flex;
    width: 600px;
    height: 300px;
    justify-content: center;
     align-items: center;
     background-position: center;
     background-size: cover;
     flex-direction: column;
     margin: 0 auto;
     margin-top: 50px;
     

}
.all{
    display: inline;
    width: 410px;
    height: 58px;
    font-weight: bold;
    font-size: 48px;
     margin: 0 auto;
     margin-bottom: 20px;
     justify-content: center;
     text-align: center;

}
/* holidy sale */
.sale{
    width: 1320px;
    height: 987px;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
}
/* .color{
    width: 1320px;
    height: 229px;
    margin: 0 auto;
    margin-top: 77px;
    /* justify-content: end;
    align-items: end;
    padding-top: 100%; */
    /* background-position: end;
    /* background-size: cover; */
    /* position: absolute; */ 
.sera{
width: 263px;
height: 29px;
font-weight: medium;
font-size: 24px;
display: inline; 
/* display: flex; */
/* justify-content: center; */
text-align: center;
/* margin-bottom: 90px; */
padding-bottom: 100px;
margin: 0 auto;
margin-top: 80px;
}

.what{
    width: 677px;
    height: 91px;
    font-size: 72px;
    display: inline; 
    /* display: flex; */
    /* justify-content: center; */
    text-align: center;
    margin-bottom: 90px;
    /* padding-bottom: 100px; */
}
.pera{
    width: 1068px;
    height: 96px;
   font-weight: medium; 
   font-size: 20px;
   display: inline; 
    /* display: flex; */
    /* justify-content: center; */
    text-align: center;
    margin: 0 auto;
   
}
.solid{
    width: 1320px;
    height: 229px;
    background-color: #000000;
    position: absolute;
    top: 90%;

}
.up-photo{
    width: 674px;
    height: 577px;
    position: relative;
    z-index: 1;
    display: flex;
}
.offer-box{
    width: 305px;
    height: 305px;
    position: absolute;
    bottom:28% ;
    left: 55% ;
    z-index: 1;
}
.gift{
color: #FF0000;
width: 192px;
height: 29px;
font-weight: medium;
font-size: 24px;
margin-left: 18px;

}
.portfolio{
    color: black;
    width: 566px;
    height: 60px;
    font-size: 48px;
    display: inline;

}
.our{
    color: #070211;
    width: 896px;
    height: 64px;
    font-size: 20px;
    font-weight: 400px;
    margin: 18px;

}
.group-photo{
    width: 1320px;
    height: 1300px;
   
    margin: 0 auto;
    margin-top: 150px;
  
}
.test{
    width: 400px;
    height: 426px;
    display: inline;
    margin: 0 auto;
    
}